PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=change_me_in_production
JWT_SECRET_REFRESH_KEY=change_me_refresh_in_production
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Logging
LOG_LEVEL=4
LOG_DIR=logs
LOG_FILE_SIZE_KB=10

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=<%= projectName %>_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
